body{
    padding-top: 20px;
  

    background-color: #f7f7f7;
   
    color: #636363;
   
}
.navbar{
    display: flex;
   justify-content: center;
   
   width: 100%;
   gap: 20px;
   
   

}
.navbar a {


 color: #636363;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.items {

    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 80px;


}

.hero{
    text-align: center;
    margin-top: 150px;
    margin-left: 50px;
    height: 50vh;
    align-items: center;
    width: auto;
    display: flex;

    justify-content: center;
    font-size: 3.5em;
}
.text{
width: 40vw;
margin-right: 90px;
}
.heroimg{
margin-top: 160px;
animation: float 5s ease-in-out infinite; 


}
.hero p{
    font-size: 1.1rem;
}
.hero h1{
    font-size: 3.5rem;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); 
    }
}
.resume{
    color: #636363;
    border-style: none;
    background-color: #f7f7f7;
    border: 1px solid #636363;
    padding: 10px 20px;
    border-radius: 50px;
}
.resume:hover{
    cursor: pointer;
}
.about{
    display: flex;
    justify-content: center;

    margin-top: 300px;
    width: 100%;
    height: 500px;


}
.box{
    
    align-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 80%;
    height: 400px;
    text-align: center;
}
.box h1{
    align-self: flex-start;
}
.box p{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
.box a{
    font-size: 25px;
    color: #636363
}
.projects {
    
    padding: 50px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects h1{
    padding-bottom: 50px;
}
.project1{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50vw;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      padding-bottom: 20px;
margin-bottom: 50px;
}
.projects img{
    border: 2px solid white;
    border-radius: 10px;
    width: 80%;
    
}
.project1 button{
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    
}
#Mystery:hover{
    cursor: pointer;

}
.box a{
    transition: color 0.5s ease;
}
.box a:hover{
    color: black;
}

.contactme{
    text-align: center;
    font-size: 30px;
   

}
.contactme a{
    color: #636363;
    transition: color 0.5s ease;
}
.contactme a:hover{
    color: black;
}
.contactme button{
  border: none;
  padding: 10px 20px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 10px;
}
.contactme button:hover{
    cursor: pointer;
}

@media(max-width:900px){
    .items{
        flex-direction: column;
        gap: 0;
        text-align: center;
    }
    .hero{
        flex-direction: column;
        margin-top: 400px;
        margin-left: 0;
    }
    .text{
        margin-right: 0;
        width: 80vw;
    }
    .heroimg{
        margin-top: 0;
    }
    .project1 img{
        width: -webkit-fill-available;
    }
    .project1{
        width: 70vw;
    }
    .box{
        padding-left: 10px;
        padding-right: 10px;
        height: 400px;
    }
}